/*ページ全体*/
body{
  background-color:azure;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  width: 98vw;
  letter-spacing: 2px;
  line-height: 1.5em;
}

/*ヘッダータグ関連*/
header{
  display: flex;
  align-items: center;
  background-color: cadetblue;
}
header>img{
  flex-basis: 10%;
}
header>nav{
  flex-basis: 90%;
}

/*ナビバー関連*/
nav>ol{
  display: flex;
}
.navi-list{
  justify-content: space-between;
}
nav li{
  margin:0 auto;
}

/*aside 関連*/
div.flex-container{
  display: flex;
  justify-content: space-around;
}
aside{
  flex-basis: 13%;
  min-width: 200px;
  background-color: blanchedalmond;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
aside>ul,aside>ol {
  padding: 0;
  position: relative;
}
aside> ol li,aside> ul li {
  line-height: 1.5;
  padding: 0.5em 0.5em 0.5em 1.7em;
  list-style-type: none!important;
  background: -webkit-linear-gradient(top, whitesmoke 0%, whitesmoke 100%);/*グラデーション*/
  background: linear-gradient(to bottom, whitesmoke 0%, #dadada 100%);/*グラデーション*/
  text-shadow: 1px 1px 1px whitesmoke;/*文字を立体的に*/
  color: black;
}
aside>ol li:before, aside>ul li:before{ 
  font-family: "Font Awesome 5 Free";
  content: ">";
  position: absolute;
  left : 0.5em; /*左端からのアイコンまでの距離*/
  color: orange; /*アイコン色*/
}

/*main 関連*/
main, main>*{
  flex-basis: 85%;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/*全般*/
h1 {
  color: #364e96;/*文字色*/
  border: solid 3px #364e96;/*線色*/
  padding: 0.5em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
  margin-left: 5px;
}
h2 {
  position: relative;
  display: inline-block;
  padding: 0 65px;
  text-align: center;
  margin-left: 15px;
}
h2:before,
h2:after {
  position: absolute;
  top: calc(50% - 3px);
  width: 50px;
  height: 6px;
  content: '';
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}
h2:before {
  left: 0;
}
h2:after {
  right: 0;
}
h3 {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem 1rem 4rem;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #fa4141;
}
h3:before {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}
textarea{
  min-height: 500px;
  margin: 10px
}
fieldset{
  margin:0 auto;
  padding: 0;
}
p{
  margin: 10px;
}
img.image-edge{
  border: 4px solid royalblue;
  border-radius: 10px;
  padding : 10px;
  size-adjust: 20%;
}
div.shell{
  margin: 5px;
  padding: 10px;
  border: 4px solid greenyellow;
  border-radius: 1em;
  background-color:bisque;
}
div.description > ol, div.description > ul {
  padding: 0;
  position: relative;
}
div.description > ol li, div.description > ul li{
  color: black;
  border-left: solid 8px orange;/*左側の線*/
  background: whitesmoke;/*背景色*/
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 0.5em;
  list-style-type: none!important;
}
.cell{
  max-width: 600px;
  margin: 0px auto;
  padding: 5px;
  border: 1px solid black;
}
input[type=button]{
  width: auto;
  height: 3rem;
  font-size: larger;
  margin: 10px 5px;
}

/*footer関連*/
footer{
  padding: 10px 0;
  text-align: center;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 24px;
  background-color:cadetblue;
}

/*stream generator用css*/
#contents{
  display: flex;
  flex-wrap: wrap;
  /* overflow: scroll; */
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 20px;
}
div#contents>[class^=shell]{
  position: relative;
  height: auto;
  width: 15em;
  background-color: cornsilk;
  border: 2px black solid;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  margin: 15px;
}
/* Firefox用 */
details summary{
  list-style: none;
  cursor: pointer;
  margin-top: 10px;
}
/* Chrome, Safari用 */
details summary::-webkit-details-marker {
  display: none; /* デフォルト矢印削除 */
}

/* 閉じている時はFont Awesomeのプラスアイコン使用 */
details summary::before {
  font-family: FontAwesome;
  content: '\f067';
  margin-right: 10px;
  color: red;
}

/* 開いている時はFont Awesomeのマイナスアイコン使用 */
details[open] summary::before {
  content: '\f068';
}
details summary:before{
  font-family: "Font Awesome 5 Free";
  content: '\f067';
  font-weight: 900;
}
div.caution{
  color:red;
}
input[type="number"]{
  width: 64px;
}
.error {
  display: none; 
}
input:invalid + .error {
  display: block;
  color: red;
  font-size: 0.9em;
}